<!DOCTYPE html>
<html ng-app="aitu-project">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />
    <script src="https://code.angularjs.org/1.5.8/angular.js"></script>
    <script src="../js/admin.js"></script>
    <title>Admin</title>
</head>
<body ng-controller="AdminCtrl" >
<h1>Factory View</h1>
    <a href="products.html"> back </a>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-lg-6" style="text-align: center;">
                    <h1> Admin </h1>
                    <input ng-model="auth.login" type="text" placeholder="enter login" class="form-control form-control-lg inverse-mode" style="margin: 5px"/>
                    <input ng-model="auth.password"  type="password"  placeholder="enter password" class="form-control form-control-lg inverse-mode" style=" margin: 5px" />
                    <div class="login-buttons">
                        <button ng-click="login(auth)" type="button" class="btn btn-success btn-block btn-lg" style="padding: 20px; margin: 10px">Войти</button>
                    </div>
                </div>
            </div>
        </div>
        <h3> Valuable Customers</h3>
        <div class="row" >
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                <th>id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Amount</th>
                </thead>
                <tr ng-repeat="customer in customers | orderBy: 'id'">
                    <td ng-bind="customer.id"></td>
                    <td ng-bind="customer.name"></td>
                    <td ng-bind="customer.address"></td>
                    <td ng-bind="customer.phone"></td>
                    <td ng-bind="customer.email"></td>
                    <td ng-bind="customer.password"></td>
                </tr>
            </table>

        </div>
        <div class="row">
            <div class="col-log-12">
                <div id="options" class="m-b-10" style="text-align: center">
                <span class="gallery-option-set" id="filter" data-option-key="filter">
                    <a class="btn btn-default btn-xs active" ng-click="getOrders()"> All Orders </a>
                    <a class="btn btn-default btn-xs active" ng-click="getOrdersByStatus('Received')"> Received </a>
                    <a class="btn btn-default btn-xs active" ng-click="getOrdersByStatus('In-process')"> In-Process </a>
                    <a class="btn btn-default btn-xs active" ng-click="getOrdersByStatus('Done')"> Done </a>
                </span>
                </div>
            </div>
        </div>
        <h3>Order List</h3>
        <div class="row" >
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                <th>id</th>
                <th>customer_id</th>
                <th>date</th>
                <th>total_price</th>
                <th>status</th>
                <th>update</th>
                </thead>
                <tr ng-repeat="order in ordersList | orderBy: 'id'">
                    <td ng-bind="order.id"></td>
                    <td ng-bind="order.customerId"></td>
                    <td ng-bind="order.date"></td>
                    <td ng-bind="order.totalPrice"></td>
                    <td ng-bind="order.status"></td>
                    <td> <button ng-click="update(order.id)">upgrade</button></td>
                </tr>
            </table>
        </div>
        <br>
        <br>
        <div>

            <h3>Dashboard of Products</h3>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                <th>Product ID</th>
                <th>Name</th>
                <th>Total Price</th>
                <th>Quantity</th>
                </thead>
                <tr ng-repeat="orderItem in dashboard track by $index">
                    <td ng-bind="orderItem.productId"></td>
                    <td ng-bind="orderItem.name"></td>
                    <td ng-bind="orderItem.price"></td>
                    <td ng-bind="orderItem.quantity"></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>