<!DOCTYPE html>
<html ng-app="aitu-project">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />
    <script src="https://code.angularjs.org/1.5.8/angular.js"></script>
    <script src="../js/app.js"></script>
    <title>Main</title>
    <style>
    </style>
</head>
<body ng-controller="ProductCtrl" >
    <h1>Order some beverages</h1>
    <a href="factoryview.html"> administrate </a>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-lg-6" style="text-align: center;">
                    <h1>Login </h1>
                    <input ng-model="auth.login" type="text" placeholder="enter login" class="form-control form-control-lg inverse-mode" style="margin: 5px"/>
                    <input ng-model="auth.password"  type="password"  placeholder="enter password" class="form-control form-control-lg inverse-mode" style=" margin: 5px" />
                    <div class="login-buttons">
                        <button ng-click="login(auth)" type="button" class="btn btn-success btn-block btn-lg" style="padding: 20px; margin: 10px">Войти</button>
                    </div>
                </div>
            </div>
    </div>
        <h1>Hello {{customer.name}}</h1>
    <div class="row">
        <div class="col-log-12">
            <div id="options" class="m-b-10" style="text-align: center">
                <span class="gallery-option-set" id="filter" data-option-key="filter">
                    <a class="btn btn-default btn-xs active" ng-click="getProducts()"> All Products </a>
                    <a class="btn btn-default btn-xs active" ng-repeat="category in categoryList" ng-click="getProductsByCategory(category.id)">{{category.name}}</a>
                </span>
            </div>
        </div>
    </div>

        <h3>Product List</h3>
    <div class="row" >
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <th>ID</th>
            <th>name</th>
            <th>description</th>
            <th>price</th>
            <th>categoryID</th>
            <th> add to order</th>
            </thead>
            <tr ng-repeat="product in productList | orderBy: 'id'">
                <td ng-bind="product.id"></td>
                <td ng-bind="product.name"></td>
                <td ng-bind="product.description"></td>
                <td ng-bind="product.price"></td>
                <td ng-bind="product.categoryId"></td>
                <td> <button ng-click="add(product)"> add to order </button></td>
            </tr>
        </table>

    </div>

    <div class="row">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <th>product id</th>
            <th>name</th>
            <th>price</th>
            <th>quantity</th>
            </thead>
            <tr ng-repeat="orderItem in orderItemList track by $index">
                <td ng-bind="orderItem.productId"></td>
                <td ng-bind="orderItem.name"></td>
                <td ng-bind="orderItem.price"></td>
                <td ng-bind="orderItem.quantity"></td>
            </tr>
        </table>
        <button ng-click="sendOrder()" type="button" class="btn btn-success btn-block btn-lg" style="padding: 20px; margin: 10px">Send order</button>
        <h1 style="color:red"><label>{{orderMessage}}</label></h1>

        <h3>My Orders</h3>
        <div class="row" >
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                <th>ID</th>
                <th>Date</th>
                <th>total Price</th>
                <th>Status</th>
                <th>Details</th>
                </thead>
                <tr ng-repeat="order in myOrders | orderBy: 'id'">
                    <td ng-bind="order.id"></td>
                    <td ng-bind="order.date"></td>
                    <td ng-bind="order.totalPrice"></td>
                    <td ng-bind="order.status"></td>
                    <td> <button ng-click="getMyOrderItems(order.id)"> get details </button></td>
                </tr>
            </table>
        </div>

        <h3>Order Details</h3>
        <div class="row" >
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                <th>ProductName</th>
                <th>price</th>
                <th>quantity</th>
                </thead>
                <tr ng-repeat="orderItem in myOrderItems | orderBy: 'id'">
                    <td ng-bind="orderItem.name"></td>
                    <td ng-bind="orderItem.price"></td>
                    <td ng-bind="orderItem.quantity"></td>
                </tr>
            </table>
        </div>
</div>
</div>
</body>


</html>